.c-challenge-list-header
  padding-bottom 10px

  .c-challenge-pagination
    display inline-block
    >ul
      margin 0 13px 0 0

    .pagination>li>a
      float none
      line-height 1.5
      padding 7px 12px

  .c-challenge-search-form
    display inline

    .form-group
      display inline-block

    input[type="text"]
      width 170px
      margin-right 13px

.c-challenge-list-entry
  padding 11px 14px
  margin 2px 0
  border-radius 3px
  background-color #fafafc
  border 1px solid #eaeaea
  box-shadow inset 0 0 2px 2px #f4f4f4

  .c-challenge-title
    font-size 17px
    font-weight bold

  .c-challenge-description
    color #626262
