.c-phase-header
  border-bottom 1px solid #ddd
  margin-bottom 15px

  .c-phase-name
    margin-bottom 10px

  .c-phase-properties
    font-size 14px
    color #444

  .c-phase-active
    float right

  .c-phase-privacy
    overflow auto

.c-leaderboard-container>.c-title
  font-variant small-caps
  color white
  background-color #d09b48
  font-size 22px
  padding 4px 12px
  font-weight bold
  margin-top 25px

.c-phase-instructions-container
  margin-bottom 15px
  padding 10px 16px
  background-color #f8f8f0
  border 1px solid #e6e6e0

#c-submit-phase-dataset
  padding 15px 23px 15px 20px
