.c-metrics-header
  margin-bottom 10px
  border-bottom 1px solid #ddd

  .c-breadcrumb-list
    margin-bottom 10px
    display inline-block

.c-empty-metrics-message
  margin-top 15px
  color #666
  font-style italic

.c-metric-list
  margin-bottom 15px

.c-metric-container
  .panel-title
    display inline-block

  .c-metric-info-label:not(.c-first)
    margin-top 13px

  .c-metric-remove-button
    display inline-block
    float right
    border-radius 3px
    color #333
    border 1px solid rgba(0, 0, 0, 0)
    cursor pointer
    padding 3px 4px
    position relative
    top -4px

    &:hover
      border 1px solid #ddd
      color #a44
