.c-submission-title-text
  font-weight bold
  font-size 22px
  color #222

.c-submission-subtitle
  color #777

  b
    color #333

.c-submission-header-bar
  border-bottom 1px solid #e8e8e8
  padding-bottom 10px
  margin-bottom 10px

.c-submission-overall-score-container
  background-color #d6f0b4
  padding 15px
  font-size 30px
  margin-bottom 15px

  .c-pre-text
    color #5a5a5a
    margin-right 10px
    font-variant small-caps
    display inline-block
  .c-overall-score
    color #333
    font-weight bold
    display inline-block

.c-submission-score-table
  width 100%

  .c-metric-heading
    cursor pointer
    color #222

    &:hover
      color #77e

  tr.c-stripe[stripe="even"]
    background-color #eee

  tr.c-stripe:nth-of-type(1)
    background-color #bfdcf7

.c-submission-right-buttons
  margin-top 10px

.c-leaderboard-button
  border-radius 6px
  border 3px solid #aaa
  background-color #f0f0f0
  color #707070
  padding 10px 8px 10px 13px
  box-sizing border-box
  font-size 15px

  &:hover
    background-color #e6e6e6
    border 3px solid #999
    color #555

.c-score-pending-container
  .c-text
    display inline-block
    color #333
    font-size 15px
    vertical-align top
    line-height 28px
    margin-left 6px

  i
    font-size 20px
    color #6d6

.c-submission-error-header
  color #dd4444
  font-weight bold
  font-size 15px

.c-restart-error-submission-button
  float right

  i
    font-weight bold
    font-style normal
    font-size 16px

.c-user-portrait
  width 64px
  height 64px
  margin-right 10px
  border-radius 5px
  background-color #ccc
  display inline-block

.c-details-area
  display inline-block

.c-header-info-wrapper > *
  vertical-align middle

.c-score-progress-container
  margin-top 20px

  .c-task-progress-bar
    margin-bottom 6px

  .c-task-progress-message
    color #777
    font-size 14px

.c-metric-description-container:first-child
  margin-top 0 !important
