.c-submit-page-title
  font-weight bold
  font-size 20px
  margin-bottom 15px
  border-bottom 1px solid #d7d7d7
  color #666

.c-submit-page-description>p
  margin-bottom 16px

.c-submit-uploader-container
  padding 15px
  border 1px solid #d9d9b5
  background-color #fafaea

  .c-submission-title-error
    color #d44
    margin-top 5px
    font-weight bold

  .c-submit-upload-widget
    margin-top 10px

.c-mismatch-info-container
  margin 0 0 12px 0

  .c-mismatch-info-title
    color #d44
    font-weight bold
    font-size 18px

  .c-mismatch-extra-inputs,.c-mismatch-missing-inputs
    ul>li
      color #dd4444
      font-weight bold

  .c-matched-inputs ul>li
    color #269326
    font-weight bold
