#search-bar

table#advanced-search-table
  thead
    tr
     th Searching for..
     th
     th finds..
  tbody
    tr
      td
        a(href='#search/shotgun') shotgun
      td
      td images with shotgun in the image or attributes
    tr
      td
        a(href='#search/make_t_md:CANON') make_t_md:CANON
      td
      td images taken by Canon Cameras
    tr
      td
        a(href='#search/tiff\\:imagelength_l_md:400') tiff\:imagelength_l_md:400
      td
      td images with a height of 400px
