

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

img.blur {
    height: 200px;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

img.blur:hover {
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

* {
    font-family: 'Droid Sans',sans-serif
}
