.nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
        .navbar-header
            a.navbar-brand(href="#") Image Space
        .collapse.navbar-collapse
            #header-search-bar
            ul.nav.navbar-nav
              li(class=(activePage === 'page/help') ? 'active': '')
                a(href='#page/help').btn.btn-link.btn-default Help
              li(class=(activePage === 'page/about') ? 'active': '')
                a(href='#page/about').btn.btn-link.btn-default About
            .h-current-user-wrapper
    .g-clear-both
    .container-fluid
        .im-alert.alert.alert-info.hidden
        .im-alert.alert.alert-success.hidden
