.h-header-wrapper
    a.im-brand(href="#") Image Space
    .container-fluid.im-search-form
        .row
            .col-xs-10
                input.im-search.form-control(type="text", placeholder="Search")
            .hide
                input#im-files(type="file", multiple="multiple")
            #im-upload.btn.btn-primary.col-xs-2
                i.icon-doc
                |  Drop image
    .h-current-user-wrapper
    .g-clear-both
