.h-header-wrapper
    a.im-brand(href="#search/*") Image Space 2
    .container-fluid.im-search-form
        input.im-search.form-control(type="text", placeholder="Search", value="*")
    .h-current-user-wrapper
    .g-clear-both
