.c-header-wrapper
  .c-icons-wrapper
    a.c-home-link(title="Home", href="#")
      i.icon-home
    a.c-challenges-link(title="Challenges", href="#challenges")
      i.icon-flag-checkered
  .c-current-user-wrapper
  .g-clear-both
