form#im-classification-narrow.pull-left
  div
    input(type='checkbox', name='is-revolver', data-key='smqtk_hg_revolver_d_md',
          checked=(classifications.indexOf('smqtk_hg_revolver_d_md') !== -1 ? 'checked' : false))
    label Revolver
  div
    input(type='checkbox', name='is-long-gun', data-key='smqtk_hg_long_gun_d_md',
          checked=(classifications.indexOf('smqtk_hg_long_gun_d_md') !== -1 ? 'checked' : false))
    label Long Gun
  div
    input(type='checkbox', name='is-semiauto', data-key='smqtk_hg_semiauto_d_md',
          checked=(classifications.indexOf('smqtk_hg_semiauto_d_md') !== -1 ? 'checked' : false))
    label Semiautomatic (handguns)
