.smqtk-iqr-annotation
  .btn-group
    button.btn.btn-default.smqtk-iqr-annotate.smqtk-iqr-positive(class=(positive ? 'selected' : ''))
      | Pos
    button.btn.btn-default.smqtk-iqr-annotate.smqtk-iqr-negative(class=(negative ? 'selected' : ''))
      | Neg
