.modal-dialog
  .modal-content
    .modal-header
      button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
      h4.modal-title
        | Select an existing IQR session
    .modal-body
      .im-hierarchy-widget
