#smqtk-iqr-action
  if currentIqrSession === false
    button.btn.btn-default#smqtk-iqr-start-session(style='display:block', title='Start Interactive Query Refinement Session')
      | Start IQR Session
  else
    button.btn.btn-default.btn-primary#smqtk-iqr-refine(style='display:block')
      | Refine
