.container-fluid
    .col-md-6
        h4 Instructions
        p.
            Type search terms in the search box above and press Enter
            to search the text content of images and image attributes.
        p.
            Use the Drop image button to the left to drag-and-drop an
            image from the image search results or your computer.
            Images from your computer are temporarily sent to the
            server for feature extraction, but no uploaded images or metadata
            are stored on the server.
        p.
            The links to the left show summary plots within the current search
            results by size and camera serial number,
            and allow you to refine your search by selecting items on the plots.
        p.
            Return to the instructions and unfiltered search ("*" wildcard)
            at any time by clicking the Image Space text in the upper left.
        p.
            Some images contain EXIF data that can link images to other images
            taken with the same camera. For example, in this
            <a href="#search/id%3A%22%2Fdata%2Froxyimages%2F35e9fa60967f700ca3415ea4546fcd81fd1ef779.jpg%22">image</a>,
            click the Details link and find the <b>camera_serial_number</b> tag.
            Clicking the <span class="icon-picture"> icon will launch a search
            on stolencamerafinder.com and discover other images taken by the
            same camera.
        p.
            Finding similar images utilizes Columbia's DeepSentibank
            image similarity service to search across all images.
        p.
            The back button on your browser will move you to a prior search.
            Copy the content of the web address bar to save or share a
            search.

        h4 Limitations
        p.
            Login and registration are currently placeholder functionality
            that will eventually allow per-user settings and data.
            Currently, data on the left pane will be lost when the page is refreshed
            or closed.
        p.
            This app will function best on latest Chrome, Firefox, and Safari.
            Internet Explorer has not been tested.

        h4 Credits
        p.
            This app was developed for the JPL / Kitware / Continuum Memex
            team using Apache Tika, SolrCell, Girder, and Tangelo.
