#im-app-header-container

#wrapper
    #im-app-main-container
        #sidebar-wrapper
            #im-app-user-data-container
        #page-content-wrapper
            #g-app-body-container

#c-app-footer-container

#g-app-progress-container

#g-dialog-container.modal.fade
#g-alerts-container
