{% extends "base.html" %}
{% set active_page = "overview" %}

{% block content %}


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
              {% for message in messages %}
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
               {{ message }}
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

    <h1>Image Space</h1>
    <p>
      This application is a demonstration of comparing uploaded images
      with those crawled by a domain search engine. It is intended to
      show the possible interaction even though the current data set
      is small.
    </p>
 
    <h2>Usage</h2>
    <p>
      This application is intended to show how an investigator can
      drop some images onto a webpage and compare with images that
      have been crawled by the MEMEX tools. 
    </p>
    <p>
      Addtionally, all images have images that have been taken with
      the same serial number, such as one might find on popular sites
      such as Flickr or Twitter. Ultimately, the app will give
      investigators the ability to use the images to intiate a search
      coupling with other applications that focus on other search
      items.
    </p>
    <p>
      To test this app do the following:
    </p>
    <ul>
      <li>Download <a href="https://www.dropbox.com/sh/iirs2qtx600dc0n/AADqKGfvY7VYcoaQWjnuRAmua?dl=0">test images</a></li>
      <li>Navigate to <a href="/compare">compare tab</a> and drop or upload and image</li>
      <li>View images that have been downloaded at the <a href="/image_table">Image Table tab</a></li>
    </ul>
    
    <h2>Data</h2>
    <p>
      The data presented in this demo was a crawl of escort ads from
      open web sites.  This data was the result of a crawl of 32M+
      images.

      The data is powered by a product called <a href="https://github.com/chrismattmann/imagecat.git">Image Catalog</a>,
      which combines <a href="http://lucene.apache.org/solr/">Apache Solr</a>, <a href="http://tika.apache.org/">Apache Tika</a>,
      and <a href="http://oodt.apache.org/">Apache OODT</a> to create a powerful and searchable EXIF metadata and Image-to-Text
      (OCR) repository of image information.
    </p>
    <p>
      The serial numbers of cameras are referenced
      using <a href="http://www.stolencamerafinder.com">http://www.stolencamerafinder.com</a>
      and <a href="http://cameratrace.com">http://cameratrace.com</a>.
    </p>
    
    
    <h2>Built by</h2>
    <ul>
      <li>NASA JPL</li>
      <li>Continuum Analytics</li>
      <li>Kitware</li>
    </ul>
    
    <h2>Contact</h2>
    <p>
      If you have any questions about this application, please email
      <a href="mailto:memex-jpl@googlegroups.com">memex-jpl@googlegroups.com</a>
    </p>
    </div>
{% endblock content %}
