h2 About
span.small Image Space #{imagespace.versionInfo.niceName} (#{imagespace.versionInfo.sha})
hr


h3 Overview
p Image Space is a DARPA Memex application for browsing large image collections based on image content (e.g. extractedtext from the image, image content similarity) or metadata (e.g. EXIF camera identifier, image encoding).

h3 Limitations
p This app will function best on latest Chrome, Firefox, and Safari. Internet Explorer has not been tested.

h3 Credits
p This app was developed for the JPL / Kitware / Continuum Memex team using Apache Tika, SolrCell, Girder, and Tangelo. Content search is provided by the Columbia team. Background search is provided by the CMU team.

h3 Learn More
p Learn more about ImageSpace Weapons by going to
