.c-body-nopad
  .c-frontpage-section.first
    .c-big-icon-container: i.icon-lightbulb
    h1 Make the most of your data
    p.
      Let subject matter experts solve your problems and help advance the state of
      the art by hosting a grand challenge. When the community competes to craft the
      best algorithms to gain insight from your data, everybody wins.

    .c-create-challenge-button.c-frontpage-button
      | Learn more
      i.icon-right-open

  .c-frontpage-section-divider

  .c-frontpage-section.second
    .c-big-icon-container: i.icon-gauge
    h1 Test your algorithm
    p.
      The best way to evaluate your novel algorithm is to put it to the test
      against other competitors using real-world datasets. Participate in a grand
      challenge today and see how you perform!

    .c-participate-button.c-frontpage-button
      | Participate in a challenge
      i.icon-right-open
