include imageResultMixin

.im-image-area.col-xs-6.col-md-3
    .im-details(im-id=image.get('id'))
        .im-thumbnail
            img.im-image-thumbnail.im-blur(src=image.get('imageUrl'))
    .im-caption
        .im-caption-content.hidden
            +imageResult(image, similaritySearch)
