include imageResultMixin

.im-image-area.col-xs-6.col-md-3
    .im-details(im-id=image.get('id'))
        .im-thumbnail
            video.thumbnail.im-blur(src=image.get('imageUrl')  controls muted)
    .im-caption
        .im-pad-left
            span=image.get('domain') + " - " + image.get('Duration') 
        .im-caption-content.hidden
            +imageResult(image, similaritySearch)
