.container-fluid
    if results.length > 0
        for result in results
            .col-xs-6.col-md-3
                a.im-thumbnail(href=result.imageUrl, target="_blank")
                    img.im-image-thumbnail.im-blur(src=result.imageUrl)
                .im-caption
                    .im-details.btn.btn-link.btn-default(im-id="#{result.id}") Details
                // if showText
                //     .im-caption
                //         = result.content[0].trim().replace(/\s+/g, ' ')
    else
        h1 No search results found.
