.container-fluid
    if results.length > 0
        for result in results
            .col-xs-6.col-md-3
                .im-details.btn.btn-link.btn-default(im-id="#{result.id}")
                    .im-thumbnail
                        img.im-image-thumbnail.im-blur(src=result.imageUrl)
    else
        h1 No search results found.
