.h-header-wrapper
    a.im-brand(href="#") Image Space
    .container-fluid.im-search-form
        input.im-search.form-control(type="text", placeholder="Search", value="*")
    a.im-brand.im-pad-left(href="#search/*") Reset search
    .h-current-user-wrapper
    .g-clear-both
