.smqtk-iqr-annotation
  margin-left 40px
  height 60px

.smqtk-iqr-annotation button
  opacity .5

.smqtk-iqr-annotation button.selected
  opacity 1

.smqtk-iqr-annotation button.smqtk-iqr-positive
  background-color #95cd7e

.smqtk-iqr-annotation button.smqtk-iqr-negative
  background-color #cc7f7f

#smqtk-iqr-action button
  margin-top 5px

.smqtk-iqr-notice
  text-align center
  padding 5px

// Extend ImageSpace defaults
#search-controls
  height 90px !important
