.smqtk-iqr-annotation
  margin-left 40px

.smqtk-iqr-annotation button
  opacity .5

.smqtk-iqr-annotation button.selected
  opacity 1

.smqtk-iqr-annotation button.smqtk-iqr-positive
  background-color #95cd7e

.smqtk-iqr-annotation button.smqtk-iqr-negative
  background-color #cc7f7f
