.c-submission-error-header
    | Error processing submission
    if adminUser
        button.c-restart-error-submission-button.btn.btn-small.btn-primary
            i.icon-cw
                | Restart Submission
.c-job-details-container
